.clients {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__review {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.clients__review-title {
  align-self: center;
  font-size: 2rem;
}

.clients__review-table {
  font-size: 1.05rem;
}

.clients__review-table th {
  text-align: left;
  padding: 1rem 0;
  font-size: 1.15rem;
}

.clients__review-table td {
  padding: 0.75rem 1.25rem 0.75rem 0;
}

.clients__video-container {
  width: 55%;
}

.clients__video {
  width: 100%;
  height: auto;
}
