* {
  font-family: var(--font-primary);
}

/* Modifiers */
/* Dark sections */
.nav--dark,
.home--dark,
.contact--dark,
.social--dark {
  background-color: var(--bg-dark);
  color: var(--color-white);
}

.rounded {
  border-radius: 4px;
}

/* Navigation */
.nav__logo a {
  font-family: var(--font-extra);
  font-size: 1.35rem;
  opacity: 0.7;
}

.nav__logo a:hover {
  opacity: 1;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  position: fixed;
  z-index: 2;
}

.nav__items {
  display: flex;
  gap: 1.75rem;
}

.nav__items a {
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.025rem;
  opacity: 0.7;
  font-size: 1rem;
}

.nav__items a:hover {
  opacity: 1;
}

/* All sections */
section {
  height: 100vh;
  padding: 0 4rem;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__intro {
  width: 50%;
}

.home__intro h1 {
  font-family: var(--font-title);
  font-size: 3.25rem;
  margin: 1rem 0;
  line-height: 1.3;
}

.home__intro .home__intro-text {
  font-size: 1.15rem;
  line-height: 1.8em;
  letter-spacing: 0.3px;
}

.home__intro .home__intro-text {
  opacity: 0.9;
}

.home__lottie-svg {
  width: 45%;
  height: auto;
}

/* About */
.about {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 6rem 4rem;
}

.about__bio-title {
  font-size: 2rem;
  padding: 1.75rem 0;
}

.about__bio-text {
  font-size: 1.15rem;
}

.about__bio p:nth-of-type(2) {
  margin-top: 1.5rem;
}

.about__photo {
  width: auto;
  height: auto;
  filter: grayscale(90%);
  transition: filter 0.3s ease-in-out;
}

.about__photo:hover {
  filter: grayscale(0%);
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projects__title {
  font-size: 2rem;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  grid-gap: 1rem;
}

.projects__container .image {
  position: relative;
  padding-bottom: 100%;
  --clip-start: inset(100% 100% 100% 100%);
  --clip-end: inset(0 0 0 0);
}

.projects__container .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

.projects__container .image img:nth-of-type(1) {
  filter: grayscale(1) brightness(40%);
}

.projects__container .image img:nth-of-type(2) {
  clip-path: var(--clip-start);
  transition: clip-path 0.5s ease;
}

.projects__container .image:hover img:nth-of-type(2) {
  clip-path: var(--clip-end);
}

/* Clients */
.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__review {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 45%;
  align-items: center;
}

.clients__review-title {
  font-size: 2rem;
  align-self: center;
}

.clients__review-table {
  text-align: left;
}

.clients__review-table th {
  padding: 1rem 0;
}

.clients__review-table td {
  padding: 0.75rem 1.25rem 0.75rem 0;
}

.clients__video-container {
  width: 55%;
}

.clients__video {
  width: 100%;
  height: auto;
}

/* Plans */
.plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.plans__title {
  font-size: 2rem;
}

.plans__description {
  font-size: 1.15rem;
}

.plans__cards {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.plans__card {
  width: 33%;
}

.plans__card-price {
  border: 1px solid #eee;
  padding: 0;
  transition: 0.3s;
}

.plans__card-price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.plans__card-header {
  background-color: var(--bg-dark);
  color: white;
  font-size: 1.5rem;
}

.plans__card-price li {
  border-bottom: 1px solid #eee;
  padding: 1.25rem;
  text-align: center;
}

.plans__card-price .card-grey {
  background-color: #eee;
  font-size: 1.25rem;
}

.plans__card-active .plans__card-header {
  background-color: var(--color-primary);
}

.plans__card-button {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 0.65rem 1.5rem;
  text-align: center;
  font-size: 1.15rem;
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 4rem 1rem 4rem;
}

.contact__title {
  font-size: 2rem;
  padding: 1rem 0;
}

.contact__map {
  width: 60rem;
  height: 30rem;
  border: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.05rem;
}

.form {
  padding: 1.5rem 0;
}

.form__email {
  padding: 0.65rem 1.25rem 0.65rem 0.5rem;
  border: 1px solid #ccc;
  width: 60%;
}

.form__submit {
  background-color: var(--bg-dark);
  color: var(--color-white);
  padding: 0.65rem 1.5rem;
  border: none;
  transition: 0.1s ease-in-out;
}

.form__submit:hover {
  background-color: var(--color-primary);
  transform: scale(1.05);
}

/* Footer */
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.15rem 4rem;
  font-size: 0.9rem;
  gap: 0.75rem;
}

.social__buttons {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.35rem;
}

.social__buttons .fa {
  transition: 0.1s ease-in-out;
}

.social__buttons .fa:hover {
  font-size: 1.5rem;
}
