@media only screen and (max-width: 768px) {
  .nav,
  .about__bio_title-start,
  .about__bio-text.text-2,
  .clients__table-country,
  .plans__description {
    display: none;
  }

  .home__intro,
  .home__lottie-svg,
  .about__photo-container,
  .about__bio,
  .clients__review,
  .clients__video-container,
  .contact__map-container,
  .contact__form-email,
  .plans__card {
    width: 100%;
  }

  .home,
  .about,
  .clients,
  .contact {
    flex-direction: column;
  }

  .home {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .home,
  .about,
  .contact-info {
    text-align: center;
  }

  .home__intro-title {
    letter-spacing: 0.3px;
  }

  .about {
    padding-top: 0;
  }

  .about__bio-title {
    padding-bottom: 1rem;
  }

  .projects,
  .clients,
  .plans,
  .contact {
    padding-top: 2rem;
  }

  .about__photo-container,
  .contact__map-container {
    order: 2;
  }

  .about,
  .clients {
    gap: 1.5rem;
  }

  .about__photo {
    filter: none;
  }

  .projects__container {
    grid-template-columns: 1fr;
  }

  .projects__container .project-image:nth-child(odd) {
    display: none;
  }

  .projects__container .project-image img:nth-of-type(1) {
    filter: none;
  }

  .clients__review-table th {
    padding: 0.5rem 0;
    text-align: center;
  }

  .clients__review-table td {
    padding: 0.25rem 0;
    text-align: center;
  }

  .plans__cards {
    width: 100%;
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact {
    gap: 1rem;
  }

  .contact__title {
    text-align: center;
  }

  .contact__form {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .about__bio-text.text-2 {
    display: none;
  }

  .home__intro,
  .home__lottie-svg,
  .about__photo-container,
  .about__bio,
  .clients__review,
  .clients__video-container,
  .plans__card,
  .contact__form-email {
    width: 100%;
  }

  .home,
  .clients {
    flex-direction: column;
  }

  .home {
    justify-content: center;
  }

  .home {
    text-align: center;
  }

  .home__intro-title {
    letter-spacing: 0.3px;
  }

  .home__lottie-svg {
    display: none;
  }

  .about,
  .projects,
  .clients,
  .plans,
  .contact {
    padding-top: 3rem;
  }

  .about__photo-container {
    order: 2;
  }

  .about,
  .clients {
    gap: 2rem;
  }

  .about__photo {
    filter: none;
  }

  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__container .project-image img:nth-of-type(1) {
    filter: none;
  }

  .clients__review-table th {
    text-align: center;
  }

  .clients__review-table td {
    text-align: center;
  }

  .plans__cards {
    width: 100%;
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact {
    gap: 1rem;
  }

  .contact__title {
    text-align: center;
  }

  .contact__form {
    flex-direction: column;
    gap: 0.5rem;
  }
}
